@page "ManageGroup"
@model StudyroomBookingZealand.Pages.User.Profile.ManageGroupModel
@using StudyroomBookingZealand.Services.Interfaces;
@inject IGroups GroupService
@{
    ViewData["Title"] = "Group Management";
}
<h1>Group's name</h1>
<div>
    <table class="table-borderless">
        <tr>
            <td></td>
            <td>Name</td>
            <td></td>
        </tr>
        @foreach (Models.User u in Model.StudentsList)
        {
            <tr>
                <td>Image</td>
                <td>
                    @u.FullName
                </td>
                <td>
                    @if (CurrentUser.LoggedUser.Id == u.Id)
                    {
                        <a asp-page="ProfilePage">View profile</a>
                    }
                    else
                    {
                        <a asp-page="ViewProfile" asp-route-id="@u.Id">View profile</a>
                    }
                </td>
                @if (CurrentUser.LoggedUser.Id == GroupService.GetGroupById(CurrentUser.LoggedUser.GroupId).Owner && u.Id != CurrentUser.LoggedUser.Id)
                {
                <td>
                    <form method="post">
                        <input type="submit" class="btn-danger" value="X" asp-page-handler="Kick" asp-route-id="@u.Id" />
                    </form>
                </td>
                }
            </tr>
        }
    </table>
    <div>
        <form method="post">
            <input class="text" asp-for="NewGroupMember" placeholder="Dude's name" />
            @switch (Model.InvalidName)
            {
                case 1:
                    <span class="text-danger">User could not be found</span>;
                    break;
                case 2:
                    <span class="text-success">Invitation sent succesfully</span>;
                    break;
                case 3:
                    <span class="text-danger">You are already in this group</span>;
                    break;
                case 4:
                    <span class="text-danger">This person is already in your group</span>;
                    break;
                case 5:
                    <span class="text-danger">This person already has a pending invitation</span>;
                    break;
                default: break;
            }
            <input class="btn-primary" type="submit" value="Add member" asp-page-handler="Invite" />
        </form>
    </div>
    <div>
        <form method="post">
            <input type="submit" value="Leave group" class="btn btn-danger" asp-page-handler="Leave"/>
        </form>
    </div>
</div>
