@page "ProfilePage"
@model StudyroomBookingZealand.Pages.User.Profile.ProfilePageModel
@{
    ViewData["Title"] = "ProfilePage";
}
<h1> Profile </h1>
<div>
    @if (Model.HasInvitations) 
    {
        <span class="text">You have been invited to new groups</span>
        <a class="btn-primary" asp-page="Invitations">Check invitations</a>
    }
</div>
<div>
    <div class="text float-left">
         Name: @CurrentUser.LoggedUser.FullName<br/>
        Phone number: @CurrentUser.LoggedUser.PhoneNr
    </div> 
    <br/>
    <div>
        @if (!CurrentUser.LoggedUser.IsTeacher) 
        {
            if (CurrentUser.LoggedUser.GroupId != 0) // we could show the group's name here too
            {
                <br/>
                <br/>
                <div></div>
                <a asp-page="ManageGroup" class="btn-primary float-left">Manage Group</a>
            }
            else
            {
                <br/>
                <br/>
                <div></div>
                <div class="text">You don't have any groups</div>
                <br/>
                <form method="post">
                    <input type="submit" class="btn-primary" value="Create Group"/>
                </form>
            }
        }
        else
        {
            <br/>
            <br/>
            <div></div>
            <a class="btn-info" align="center" asp-page="/Admin/Admin">\\\  You have administrative privileges  ///</a>
        }
    </div>
    <div>
        <a class="btn btn-primary" asp-page="EditProfile">Edit Profile</a>
    </div>
</div>
