@page "ProfilePage"
@model StudyroomBookingZealand.Pages.User.Profile.ProfilePageModel
@{
    ViewData["Title"] = "ProfilePage";
}
<h1> Profile </h1>
<div>
    @if (Model.HasInvitations) 
    {
        <span class="text">You have been invited to new groups</span>
        <a class="btn-primary" asp-page="Invitations">Check invitations</a>
    }
</div>
<div class="box">
    <div class="row">
        Name: @CurrentUser.LoggedUser.FullName
        Phone number: @CurrentUser.LoggedUser.PhoneNr
    </div>
    <div>
        @if (!CurrentUser.LoggedUser.IsTeacher) 
        {
            if (CurrentUser.LoggedUser.GroupId != 0) // we could show the group's name here too
            {
                <a asp-page="ManageGroup" class="btn-primary">Manage Group</a>
            }
            else
            {
                <span class="text">You don't have any groups</span>
                <form method="post">
                    <input type="submit" class="btn-primary" value="Create Group"/>
                </form>
            }
        }
        else
        {
            <span class="text">You have administrative privilleges</span>
        }
    </div>
    <div>
        <a class="btn btn-primary" asp-page="EditProfile">Edit Profile</a>
    </div>
</div>
