@page "ViewProfile"
@model StudyroomBookingZealand.Pages.User.Profile.ViewProfileModel
@{
}
<h1> Profile </h1>
<div class="box">
    <div class="row">
        Name: @Model.ViewUser.FullName
        Phone number: @Model.ViewUser.PhoneNr
    </div>
</div>