@page "Admin"
@using StudyroomBookingZealand.Services.Interfaces
@model StudyroomBookingZealand.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Homepage";
}
@inject IBooking BookingService;
@inject IUsers UsersService;
@inject IRoom RoomService;
<style>
    .card {
        background-color: #FFE975;
    }
</style>
<div class="text-center">
    <h1>Welcome to the Admin Page</h1>
</div>

<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <i class="fa fa-info-circle"></i>
    There are currently:
    <strong>@BookingService.GetAllBookings().Count bookings, </strong>
    <strong>@UsersService.GetAllUsers().Count users, </strong>and
    <strong>@RoomService.GetAllRooms().Count rooms</strong>
    registered in our system !
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">
                Manage everything related to Users
            </p>
        </div>
        <div class="card-footer">
            <form method="post">
                <input type="submit" class="btn btn-dark btn-custom" value="Manage" asp-page-handler="ManageUsers" />
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Rooms</h5>
            <p class="card-text">
                Manage everything related to Rooms
            </p>
        </div>
        <div class="card-footer">
            <form method="post">
                <input type="submit" class="btn btn-dark btn-custom" value="Manage" asp-page-handler="ManageRooms" />
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Locations</h5>
            <p class="card-text">
                Manage everything related to Locations
            </p>
        </div>
        <div class="card-footer">
            <form method="post">
                <input type="submit" class="btn btn-dark btn-custom" value="Manage" asp-page-handler="ManageLocations" />
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bookings</h5>
            <p class="card-text">
                Manage everything related to Bookings
            </p>
        </div>
        <div class="card-footer">
            <form method="post">
                <input type="submit" class="btn btn-dark btn-custom" value="Manage" asp-page-handler="ManageBookings" />
            </form>
        </div>
    </div>
</div>