@page
@using StudyroomBookingZealand.Pages.User
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.Bookings.BookLocationModel
@{
}
@* Fount the REAL stuff for Zealand logo
    https://moodle.zealand.dk/pluginfile.php/1/core_admin/logo/0x200/1620740136/Zealand%20Logo%20-%20Moodle.png*@
<div>Choose a location</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                SmartBoards Nr.
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Locations != null)
        {
            @foreach (Location l in Model.Locations)
            {
                <tr>
                    <td>@l.LocationId</td>
                    <td>@l.Name</td>
                    <td>@l.Address</td>
                    <td>@l.SmartBoardsNr</td>
                    <td><button type="submit">NOT WORKING</button></td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#corp" style="background-color: aliceblue">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse">Select Time</a>
                    </button>
                </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse-in">
                <div class="panel-body">
                    <form method="get">
                        <div id="collapse" class="panel-collapse collapse in" href="#this">
                            <div class="form-group">
                                From Date: <input class="form-control" asp-for="FromTime" />
                            </div>
                            <div class="form-group">
                                To Date: <input class="form-control" asp-for="ToTime" />
                            </div>
                            <div class="form-group">
                                <input id="this" type="submit" value="Still Implementing" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


