@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zealand's StudyRoom4Book</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> powered by CEESHARP</a>.</p>
</div>
