@page
@using Microsoft.EntityFrameworkCore
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.Admin.CreateAccountModel
@{
//ViewData["Title"] = "CreateAccount";
}

<h1>THIS IS NOT IMPLEMENTED YET</h1>